{{define "add-memory"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IGallery | Add Memory</title>
    <link rel="shortcut icon" href="./" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/memory.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="../js/add-memory.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-white shadow py-3">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/images/nav-logo.png" class="img-fluid" alt="Logo Navbar">
            </a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">

                </ul>
                <a href="/login" class="btn btn-outline-primary">Sign In</a>
            </div>
        </div>
    </nav>
    <main class="main py-4">
        <div class="container">
            <div class="row w-100 justify-content-center">
                <div class="col-md-8 col-lg-6">
                    <div class="card shadow rounded">
                        <div class="card-body py-4">
                            <h2 class="fw-bold mb-3 text-center">Add Memory</h2>
                            <form action="#">
                                <div class="mb-3">
                                    <label for="memory-name" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="memory-name" name="memory-name"
                                        placeholder="Enter memory name...">
                                </div>
                                <div class="mb-3">
                                    <label for="memory-tags" class="form-label">Tag(s)</label>
                                    <input type="text" class="form-control" id="memory-tags" name="memory-tags"
                                        placeholder="ex: happy,family,pets">
                                </div>
                                <div class="mb-3">
                                    <label for="memory-images" class="form-label">Image(s)</label>
                                    <input type="file" class="form-control custom-file-input opacity-0" accept="image/*"
                                        id="memory-images" name="memory-images" multiple>
                                    <label for="memory-images" class="w-100 rounded">Upload
                                        image
                                        file...</label>
                                </div>
                                <div id="images-container" class="mb-3">
                                    <p class="mb-2">Preview Image(s)</p>
                                    <div class="row"></div>
                                </div>
                                <button type="submit" class="btn btn-primary fw-bold mb-3 py-2 w-100"
                                    id="submit-btn">Create Memory</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>
{{end}}