{{define "memory-detail"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iGallery | Memory Detail</title>
    <link rel="shortcut icon" href="./" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="../css/memory.css">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"
        defer></script>
    <script src="../js/memory-detail.js"></script>
    <script type="text/javascript">
        $(document).ready(() => {
            $("#delete-memory-btn").click(() => {
                $.ajax({
                    type: "DELETE",
                    url: "/api/memories/{{.}}",
                })
                    .done((data) => {
                        console.log(data);
                        alert(data.message);
                        window.location.href = "/memories";
                    })
                    .fail((error) => {
                        console.log(error);
                        alert(error.responseJSON.message);
                    })
            }
            );

            $.ajax({
                type: "GET",
                url: "/api/memories/{{.}}",
            })
                .done((data) => {
                    $("#memory-name").html(data.description);

                    data.tags.forEach((tag) => {
                        $("#memory-tags-container").append(`<div class="memory-tags-wrapper ms-2 rounded-pill py-1 px-3" style="background-color: #eeeeee;">${tag}</div>`);
                    })

                    data.pictures.forEach((picture) => {
                        $.ajax({
                            type: "GET",
                            url: "/api" + picture,
                            async: false,
                        })
                            .done((image) => {
                                const newPicture = new Image();
                                const finalPicture = new Image();
                                const id = picture.split("/")[2];
                                const container = $("#images-container > .row")
                                const canvas = document.createElement("canvas");

                                newPicture.addEventListener("load", () => {
                                    const width = newPicture.naturalWidth;
                                    const height = newPicture.naturalHeight;
                                    const aspectRatio = width / height;

                                    let newWidth = width,
                                        newHeight = height;

                                    if (aspectRatio > 1) {
                                        newWidth = height;
                                    } else if (aspectRatio < 1) {
                                        newHeight = width;
                                    }

                                    canvas.width = newWidth;
                                    canvas.height = newHeight;
                                    canvas.getContext("2d").drawImage(newPicture, 0, 0);

                                    finalPicture.src = canvas.toDataURL();
                                    finalPicture.className = "w-100 img-fluid rounded";
                                    finalPicture.id = id;

                                    container.append(
                                        $("<div class='col-lg-3 col-md-4'></div>")
                                            .append(finalPicture)
                                            .append(
                                                `<div class='memory-btns-container d-flex justify-content-evenly position-relative'><button type='button' class='d-absolute btn btn-danger px-3 fw-bold w-100 mx-3'>Delete <i class='fa-regular fa-trash-can'></i></button></div>`
                                            )
                                    );
                                });

                                newPicture.src = image;
                            })
                            .fail((error) => {
                                console.log(JSON.stringify(error));
                                alert(JSON.stringify(error));
                            });
                    });
                })
                .fail((error) => {
                    if (error.status === 400) window.location.href = "/memories"
                    console.log(error);
                    alert(error.responseJSON.message);
                });
        });
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-white shadow py-3">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/images/nav-logo.png" class="img-fluid" alt="Logo Navbar">
            </a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">

                </ul>
                <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                    <a href="/memories" class="nav-link active">Gallery</a>
                    <a href="/memories/add" class="nav-link">Create Memory</a>
                    <a href="#logout" class="btn btn-outline-primary ms-3">Logout</a>
                </ul>
            </div>
        </div>
    </nav>

    <div id="delete-memory-modal" class="modal fade">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Confirmation</h5>
                </div>
                <div class="modal-body">Are you sure you want to delete this memory?</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light border-primary text-primary"
                        data-bs-dismiss="modal">Cancel</button>
                    <button type="button" id="delete-memory-btn" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>


    <main class="main py-4">
        <div class="container">
            <div class="my-3">
                <button type="button" id="back-btn" class="btn btn-link text-decoration-none p-0">&lt; Back to
                    Gallery</button>
            </div>

            <div class="d-flex justify-content-between align-items-center mb-3">
                <div id="memory-details">
                    <h3 id="memory-name" class="fw-bold mb-3"></h3>
                    <div id="memory-tags-container" class="d-flex align-items-center">
                        <span>Tags:</span>
                    </div>
                </div>
                <div id="memory-detail-links-container" class="d-flex" style="align-items: flex-end;">
                    <button type="button" id="edit-mode-btn" class="btn btn-link p-0 me-3">Edit mode</button>
                    <button type="button" id="toggle=modal-btn" class="btn btn-link link-danger p-0 me-3"
                        data-bs-toggle="modal" data-bs-target="#delete-memory-modal">Delete
                        memory</button>
                    <button type="button" id="save-changes-btn" class="btn btn-link p-0 d-none">Save
                        changes</button>
                </div>
            </div>
            <div id="images-container">
                <div class="row"></div>
            </div>
        </div>
    </main>
</body>

</html>
{{end}}