{{define "register"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IGallery | Sign Up</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous" defer></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#submit-btn').click((e) => {
                e.preventDefault()
                $.ajax({
                    method: "POST",
                    url: "/api/auth/register",
                    data: JSON.stringify({
                        username: $('#username').val(),
                        email : $('#email').val(),
                        password: $('#password').val()
                    }),
                    processData: false,
                    contentType: "application/json",
                }).done(
                    function (obj) {
                        window.location.href = "/memory"
                    }
                ).fail(
                    function (data) {
                        console.log(JSON.stringify(data))
                        alert(JSON.stringify(data))
                    }
                )
            })
        })
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-white shadow py-3">
        <div class="container">
          <a class="navbar-brand" href="#">
              <img src="/images/nav-logo.png" class="img-fluid" alt="Logo Navbar">
          </a>
          <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavId">
              <ul class="navbar-nav me-auto mt-2 mt-lg-0">

              </ul>
              <a href="/login" class="btn btn-outline-primary">Sign In</a>
          </div>
    </div>
  </nav>
  <main class="main py-4">
      <div class="container">
        <div class="row w-100 justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card shadow rounded">
                    <div class="card-body py-4">
                        <h2 class="fw-bold mb-3 text-center">Sign Up</h2>
                        <form action="#">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" name="username" placeholder="Enter username here..">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="ex: user@example.com">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Enter password here..">
                            </div>
                            <button type="submit" class="btn btn-primary fw-bold my-3 py-2 w-100" id="submit-btn">Sign Up</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </main>
</body>
</html>
{{end}}